body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
  background-color: #181818;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 99%;
  max-height: 99%;
}

.wrapper {
  text-align: center;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  overflow-wrap: normal;
}

.galleryItem {
  object-fit: scale-down;
}

.gallery figure img {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.gallery figure:hover img {
  opacity: 0.5;
}

.settings {
  font-size: 13px;
}

#home {
  background-image: url(https://cdn.glitch.global/38681b80-02c2-4aec-bed4-f79cdfdda113/favicon.png?v=1663802054959);
  background-size: contain;
  font-style: normal;
  border-radius: 20%;
  cursor: pointer;
  border: none;
  height: 50px;
  width: 50px;

  position: fixed;
  z-index: 3;
  bottom: 1%;
  left: 1%;

  color: white;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}
#home:hover {
  text-shadow: 2px 1px #000000;
}

.gallery {
  z-index: 2;
  background: rgba(105, 105, 105, 0.75);
  position: absolute;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

#topTags {
  z-index: 3;
  background: rgba(105, 105, 105, 0.75);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

#topTags h1 {
  text-align: center;
}

#topTags ol {
  list-style: none;
  column-count: 8;
}

#spoofText {
  text-shadow: 1.5px 1px #333333;
  position: fixed;
  z-index: 3;
  bottom: 1%;
  right: 1%;
}

#spoofText[enabled="true"]:after {
  color: lime;
  content: "Spoof Enabled";
}

#spoofText[enabled="false"]:after {
  color: red;
  content: "Spoof Disabled";
}

.topBarContainer {
  background-color: #181818;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
}

#topBar {
  background-color: #fe235b;
  height: 100%;
  transform-origin: left;
  transform: scaleX(0);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

fieldset {
  text-align: none;
  overflow-wrap: normal;
  display: table;
  border: none;
}
fieldset p {
  display: table-row;
}
fieldset input,
fieldset select {
  width: 100%;
}
fieldset label {
  display: table-cell;
  padding-right: 5px;
  margin: 3px;
}
fieldset label {
  text-align: right;
}
